#word{
    
    margin-left:100px;
    margin-top:50px;
    margin-right: 300px;
    margin-bottom:150px;
    
}
#title{
    color: darkred;
    font-size: 50px;
}
body{
    background-color: darkred; 
}
#square{
    background-color:rgb(228, 217, 217);
    margin-left:100px;
    margin-right:100px;
    height: 60%;
}
#last{
    margin-bottom:20px;
}