<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/quiz.css">
</head>
<body>
    <div>
        <h1>Vui lòng trả lời các câu hỏi sau:
    </h1>
    <h5>(Yêu cầu trả lời chính xác để có thể có kêt quả chính xác nhất)</h5>
    <button onclick="answer1()">{{answer1}}</button>
    <button onclick ='answer2()'>{{answer2}}</button>
    
    </div>

    <script src="quiz.js"></script>

</body>
</html>