<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/x-men.css">
    <title>Báo lỗi</title>
</head>
<body>
    <div id = 'square'>
      <div id = 'word'>
        <h1 id = 'title'>
            ERROR
        </h1>
        <h3 class = 'text'>Đã xảy ra lỗi: Hệ thống không tìm thấy khuôn mặt của bạn.</h3>
        <h4 class = 'text'>
            Thử:
        </h4>
        <li class = 'text'>Kiểm tra lại số đo của bạn.</li>
        <li class = 'text'>Nếu số đo là đúng, báo cáo lại cho chúng tôi.</li>
        <li class = 'text' id = 'last';>Nếu sửa xong mà vẫn thế, bạn là dị nhân.</li>
        
    </div>  
    </div>
    
</body>
</html>